h1{
    color: red;
    font-family: Chilanka;
    text-align: center;
    text-decoration: underline;
}
button{
    color: black;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    margin: 30px;
}
a{
    font-family: Chilanka;
    margin: 20px;
    padding: 20px;
}